* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --font-family: 'Inter', sans-serif;
    --primary-gray: #f4f6f5;
    --secondary-gray: #e9e9e9;
    --white: #ffffff;
    --blue: #005af9;
    --black: #202124;
}

body {
    font-family: var(--font-family);
    color: var(--black);
    background-color: var(--white);
}

button {
    cursor: pointer;
}

ul {
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--blue);
}

.container {
    display: grid;
    grid-template-columns: 280px 1fr;
}

aside {
    border-right: 1px solid var(--secondary-gray);
    background-color: var(--primary-gray);
    max-width: 280px;
    min-width: 280px;
    height: 100vh;
    z-index: 10;
}

.aside_container {
    padding: 20px;
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    height: 100%;
}

.aside_control {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.aside_control span:nth-child(1) {
    margin-right: auto;
}

.aside_title {
    display: flex;
    align-items: center;
}

.aside_list_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    cursor: pointer;
}

.more_vert {
    margin-left: auto;
}

.pdfForm {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.pdfForm_input {
    width: 80%;
}

.pdfForm_submitbtn {
    width: 20%;
}

.aside_footer {
    align-self: end;
}



/* Main Content */

.main_container {
    padding: 20px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh; */
    display: grid;
}

.header {
    border-bottom: 1px solid var(--secondary-gray);
    width: 100%;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 20px 0px;
}

.main_title {
    font-size: 1.5rem;
}

.main_base {
    display: grid;
}

.chat_conversation {
    width: 100%;
    position: absolute;
    bottom: 250px
}

.init_chat_title {
    margin: 50px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.chat_gen_resource {
    display: grid;
    gap: 20px;
    position: fixed;
    bottom: 0px;
}

.pdf_display_list {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

.pdf_display_item {
    cursor: pointer;
    display: grid;
    border: 1px solid var(--secondary-gray);
    background-color: var(--primary-gray);
    border-radius: 10px;
    padding: 10px;
    width: 120px;
    height: 120px;
    margin: 0px 15px 0px 0px;
}

.chatbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid var(--secondary-gray);
    border-radius: 50px;
    background-color: var(--white);
}

.chatbox_input {
    padding: 20px;
    background-color: inherit;
    border: 0px;
    width: 100%;
    font-family: var(--font-family);
    font-size: 1rem;
}

.chatbox_send {
    background-color: inherit;
    border: 0px;
}
